.darkNodeStyle {
    background-color: #3b3b3b;
    color: rgb(235, 235, 235);
    border-radius: 16px;
    padding: 12px;
    width: 110px;
    text-align: center;
    font-size: 14px; 
}

.react-flow__node-default.darkNodeStyle {
    background-color: #3b3b3b;
    color: rgb(235, 235, 235);
    border-radius: 16px;
    padding: 12px;
    font-size: 14px;
    border: none;
    width: 100px;
}

.handle {
    width: 8px;
    height: 8px;
    background-color: #555;
    border-radius: 50%;
}

.handle-left {
    left: -4px;
}

.handle-right {
    right: -4px;
}

.react-flow__attribution {
    display: none;
}